<div class="hero is-fullheight is-dark is-bold has-text-black">
    <div class="hero-body is-completely-center">
        <center>
            <p class="subtitle is-size-4-widescreen is-size-3-desktop is-size-2-touch">Ops, something went wrong...</p>
        </center>
    </div>
</section>