<div class="hero is-fullheight is-dark is-bold has-text-black">
    <div class="hero-body is-completely-center">
        <center>
            <p class="subtitle">Ops, something went wrong...</p>
        </center>
    </div>
</section>