<body>
    <div class="section fullscreen has-background-dark is-bold has-text-black">
        <div class="section is-completely-center">
            <div class="box">
                <form action="/" class="formPlaylist" method="POST">
                    <center>
                        <h1 class="title">Playlistah</h1>
                        <h1 class="subtitle">Create your
                            collaborative playlists</h1>
                        <input id="name" type="text" class="input has-text-centered" name="name"
                            placeholder="Playlist name" pattern="[a-zA-Z0-9_]{1,100}"
                            title="Only letters, numbers and underscore accepted" required />
                        </br>
                        <label class="checkbox" for="isTemporary">
                            <input class="form-check-input" type="checkbox" value="1" name="isTemporary"
                                id="isTemporary">
                            Temporary playlist?
                        </label>
                        </br>
                        </br>
                        <div class="control has-text-centered">
                            <input type="submit" class="button is-dark" value="Submit" />
                        </div>
                    </center>
                </form>
            </div>
        </div>

        <nav class="navbar is-light is-fixed-bottom">
            <div class="content is-completely-center">
                <p class="has-text-centered">
                    <strong>Playlistah</strong> by <a href="http://davegabe.it">DaveGabe</a>.
                    Source code available on <a href="http://github.com/davegabe/playlistah">Github</a>
                </p>
            </div>
        </nav>
    </div>
</body>