<!DOCTYPE html>
<html>
    <title>Playlistah - {{title}}</title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/bulma/bulma.css' />
    <link rel="stylesheet" href="/fa/all.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  {{{body}}}
</html>
