<!DOCTYPE html>
<html>
    <title>Playlistah - {{title}}</title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/bulma/bulma.css' />
    <link rel="stylesheet" href="/fa/all.css"/>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
