<body class="has-navbar-fixed-top has-navbar-fixed-bottom">
    <section class='section fullscreen has-background-white is-bold'>
        <nav class="navbar has-background-dark is-fixed-top columns is-mobile">
            <div class="column">
                <a id="arrowHide" href="/" class="button is-dark is-vertically-center">&lt;</a>
            </div>
            <div class="column has-text-centered is-completely-center">
                <p class="title has-text-white is-dark">
                    {{name}}
                </p>
            </div>
            <div class="column">
            </div>
        </nav>

        <div class="container is-fluid-zero is-inline-block has-navbar-fixed-top">
            <div class="modal">
                <div class="modal-background"></div>
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Search</p>
                        <button class="delete modal-close-button" aria-label="close"></button>
                    </header>
                    <section class="modal-card-body">
                        <input class="input" type="text" placeholder="Search on YouTube" id="query"
                            onkeyup="return submitSearch()">
                        <ul id="results">
                        </ul>
                    </section>
                </div>
            </div>
            <div class="">
                <ul id="videos-list">
                </ul>
            </div>
        </div>

        
        <nav class="navbar has-background-white-ter is-fixed-bottom columns is-mobile">
            <div class="column">
            </div>
            <div class="column has-text-centered is-completely-center">
                <button class="button is-dark modal-button">
                    Add video
                </button>
            </div>
            <div class="embed-responsive embed-responsive-16by9 video">
                <div id="player" class="embed-responsive-item"></div>
            </div>
            <div class="column has-text-right">
                <button id="arrowHide" type="button" onclick="showPlayer()"
                    class="button is-dark is-vertically-center">V</button>
            </div>
            <div class="alerts has-text-centered" id="alerts"></div>
        </nav>
    </section>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="/js/playlist.js"></script>
</body>